@model Psychologist.Models.Payment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSuccessful)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSuccessful)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.AccountStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.AccountStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PaymentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
